---
---

@import "{{ site.theme }}";
.page-header {
  background-image: url(/assets/images/agerinsel.jpg);
  background-position: center center;
  background-size: cover;
}
.project-tagline {
  opacity: 1;
}
.rip {
  background-color: #f5f5f5;
  border: 2px solid #dddddd;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}
