---
---

@import "{{ site.theme }}";
.page-header {
  background-image: url(/assets/images/agerinsel.jpg);
  background-position: center center;
  background-size: cover;
}
.project-tagline {
  opacity: 1;
}
